.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: var(--base);
  cursor: pointer;
  transition: ease-in-out 0.15s;
  &:hover,
  &:focus-visible {
    transform: scale(1.07);
  }
}

.button--solid {
  background: var(--accent);
  border: 1px solid var(--accent);
  color: white;
  .icon {
    color: white;
    transition: ease-in-out 0.15s;
  }
  &:active {
    border-color: var(--accent_active);
    background: var(--accent_active);
  }
}

.button--outline {
  background: rgba(77, 106, 255, 0);
  border: 1px solid var(--accent);
  color: var(--accent);
  .icon {
    color: var(--accent);
    transition: ease-in-out 0.15s;
  }
  &:active {
    background: var(--background_2);
  }
}

.button--ghost {
  background: var(--background_1);
  border: var(--background_1);
  color: var(--text_muted);
  .icon {
    color: var(--text_muted);
    transition: ease-in-out 0.15s;
  }
  &:hover,
  &:focus-visible {
    color: var(--text);
    background: var(--background_0);
    border-color: var(--background_0);
    .icon {
      color: var(--text);
    }
  }
}

.button--subtle {
  background: var(--background_1);
  border: 1px solid var(--border);
  color: var(--text_muted);
  .icon {
    color: var(--text_muted);
    transition: ease-in-out 0.15s;
  }
  &:hover,
  &:focus-visible {
    background: var(--background_0);
    color: var(--text);
    border-color: var(--border_interactive);
    .icon {
      color: var(--text);
    }
  }
  &:active {
    background: var(--background_2);
  }
}

.button--iconOnly {
  padding: 8px;
}
