---
import { getLangFromUrl, useTranslations } from '@i18n/utils'
import Title from '@components/title/title.astro'
import { SkillsList } from './skillsList'
import type { Props, Skill } from './types'
import './skills.scss'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const { skills }: Props = Astro.props
const webSkills = (skills as Skill[]).filter(
  (skill) => skill.attributes.category === 'web'
)
const designApps = (skills as Skill[]).filter(
  (skill) => skill.attributes.category === 'design'
)
---

<section class="skills">
  <div class="container">
    <Title
      top={t('about.skills.web.titleTop')}
      bottom={t('about.skills.web.titleBottom')}
      align="left"
    />
    <SkillsList client:visible list={webSkills} />
  </div>
  <div class="container">
    <Title
      top={t('about.skills.design.titleTop')}
      bottom={t('about.skills.design.titleBottom')}
      align="left"
    />
    <SkillsList client:visible list={designApps} />
  </div>
</section>
