.singleProject {
  padding: 50px 0;
  .container {
    padding: 0 1rem;
    .info {
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin-bottom: 50px;
      .backButton {
        width: fit-content;
      }
      .tags {
        .tagsTitle {
          font-weight: var(--bold);
        }
        .tagsList {
          color: var(--text_muted);
        }
      }
      .description {
        p {
          margin-bottom: 24px;
          color: var(--text_muted);
        }
        .buttonsBox {
          display: flex;
          align-items: center;
          gap: 16px;
        }
      }
    }
    .gallery {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 16px;
      justify-items: center;
      align-items: center;
      .galleryItem {
        width: 100%;
        max-width: 550px;
        border-radius: 8px;
        cursor: pointer;
        transition: ease-in-out 0.15s;
        &:hover {
          transform: scale(1.02);
        }
      }
    }
  }
}

.galleryItem {
  z-index: 9000 !important;
}
