body {
  //Fonts
  --default: 'Nunito Sans', sans-serif;
  --mono: 'Source Code Pro', monospace;

  //Font Weights
  --regular: 400;
  --bold: 900;

  //Font Sizes
  --small: 12px;
  --base: 14px;
  --large: 18px;
  --title_1: 24px;
  --title_2: 36px;
}

//Color Modes
body[data-colorMode='dark'] {
  --accent: #4c6aff;
  --accent_active: #667fff;
  --danger: #e01d58;
  --warning: #f2a735;
  --success: #22e588;

  --background_0: #11121a;
  --background_1: #1b1f2b;
  --background_2: #292f40;

  --text: #ffffff;
  --text_muted: #8693b5;

  --border: #4f5b79;
  --border_interactive: #6e7c9d;
}

//Color Modes
body[data-colorMode='light'] {
  --accent: #4c6aff;
  --accent_active: #667fff;
  --danger: #e01d58;
  --warning: #f2a735;
  --success: #22e588;

  --background_0: #ebecf3;
  --background_1: #ffffff;
  --background_2: #c9ccdb;

  --text: #292f40;
  --text_muted: #7985a5;

  --border: #b5bcd4;
  --border_interactive: #8792ab;
}
