.tag {
  display: inline-flex;
  height: 24px;
  width: auto;
  border-radius: 30px;
  background: var(--background_1);
  align-items: center;
  padding: 0 12px;
  padding-left: 26px;
  position: relative;
  span {
    color: var(--text_muted);
    font-size: var(--small);
  }
  .tagExitButton {
    position: absolute;
    left: 4px;
    width: 16px;
    height: 16px;
    background: var(--text_muted);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: ease-in-out 0.15s;
    &:hover {
      background: var(--text);
    }
    .icon {
      color: var(--background_1);
    }
  }
}
