---
import { getLangFromUrl, useTranslations } from '@i18n/utils'
import Title from '@components/title/title.astro'
import { ServicesSelector } from './servicesSelector'
import type { Icons } from '@components.react/icon/types'
import './services.scss'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const { services } = Astro.props
---

<section class="services">
  <Title
    top={t('home.services.titleTop')}
    bottom={t('home.services.titleBottom')}
  />
  <div class="container">
    <ServicesSelector client:load listOfServices={services} />
  </div>
</section>
