---
import { getAbsoluteLocaleUrl, getRelativeLocaleUrl } from 'astro:i18n'
import { getLangFromUrl, useTranslations } from '@i18n/utils'
import Title from '@components/title/title.astro'
import Button from '@components/button/button.astro'
import Icon from '@components/icon/icon.astro'
import { Carousel } from './carousel'
import 'swiper/css'
import 'swiper/css/effect-coverflow'
import 'swiper/css/pagination'
import './latestProjects.scss'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const { projects } = Astro.props
---

<section class="latestProjects">
  <Title
    top={t('home.latestProjects.titleTop')}
    bottom={t('home.latestProjects.titleBottom')}
  />
  <div class="slideshow">
    <div class="container">
      <Carousel lang={lang} projects={projects} client:load />
    </div>
  </div>
  <div class="container descriptionContainer">
    <p class="description">{t('home.latestProjects.description')}</p>
    <a href={getAbsoluteLocaleUrl(lang, 'projects')}>
      <Button>
        {t('home.latestProjects.button')}
        <Icon name="case" />
      </Button>
    </a>
  </div>
</section>
