.footer {
  background: var(--background_1);
  border-top: 1px solid var(--border);
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .socialNetworks {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    a {
      .icon {
        width: 32px;
        height: 32px;
        transition: ease-in-out 0.15s;
      }
      &:hover {
        .icon {
          color: var(--accent);
        }
      }
    }
  }
  .copyright {
    color: var(--text_muted);
  }
}
