---
import '@styles/variables.scss'
import '@styles/layout.scss'

const { pageTitle } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <script>
      const colorMode = localStorage.getItem('colorMode')

      const getSystemColorMode = () => {
        const systemDarkTheme = window.matchMedia(
          '(prefers-color-scheme: dark)'
        )
        if (systemDarkTheme.matches) return 'dark'
        return 'light'
      }

      if (colorMode === 'dark' || colorMode === 'light') {
        document.body.setAttribute('data-colorMode', 'dark')
      } else {
        const systemColorMode = getSystemColorMode()
        localStorage.setItem('colorMode', systemColorMode)
        document.body.setAttribute('data-colorMode', systemColorMode)
      }
    </script>
    <!--Navbar -->
    <main>
      <slot />
      <!--Contact -->
      <!--Footer -->
    </main>
  </body>
</html>
